@import "./reset.css";


.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
  }

  .error-title {
    font-weight: 700;
    margin: 0 auto;
    font-size: 17px;
  }
  

  @media screen and (min-width: 1200px){
    .error-title {
      font-weight: 700;
      margin: 0 auto;
      font-size: 70px;
    }
  }


  
  @media screen and (min-width: 660px){
    .error-title {
      font-weight: 700;
      margin: 0 auto;
      font-size: 40px;
    }
  }
      